<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.fodala.pojo"/>
    </typeAliases>
    <mappers>
        <mapper resource="com/phizer/mapper/ContainerMapper.xml"/>
        <mapper resource="com/phizer/mapper/CampaignMapper.xml"/>
        <mapper resource="com/phizer/mapper/CityMapper.xml"/>
        <mapper resource="com/phizer/mapper/IndividualMapper.xml"/>
        <mapper resource="com/phizer/mapper/UserMapper.xml"/>
    </mappers>
</configuration>
