<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="text-center center-block" th:fragment="footer">
    <footer class="footer">
        <nav class="navbar navbar-default navbar-custom">
            <a href="https://www.facebook.com/"><i class="fa fa-facebook-square fa-3x social"></i></a>
            <a href="https://twitter.com/ernanhughes"><i class="fa fa-twitter-square fa-3x social"></i></a>
            <a href="https://plus.google.com/+ErnanHughes"><i class="fa fa-google-plus-square fa-3x social"></i></a>
            <a href="mailto:ernanhughes@gmail.com"><i class="fa fa-envelope-square fa-3x social"></i></a>
        </nav>
    </footer>
</div>
</body>
</html>

