<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fodala.mapper.CampaignMapper">

    <select id="all" resultType="Campaign">
        select `id`, `name`, `status`, `cleaner`, `cleaned`, `expires`, `created`, `updated`
        from campaign
    </select>

    <select id="findById" resultType="Campaign">
        select `id`, `name`, `status`, `cleaner`, `cleaned`, `expires`, `created`, `updated`
        from campaign
        where `id` = #{id}
    </select>

    <insert id="insert">
        insert into campaign (`name`, `status`, `cleaner`, `cleaned`, `expires`, `created`, `updated`)
        values (#{campaign.name}, #{campaign.status}, #{campaign.cleaner}, strftime('%Y-%m-%dT%H:%M:%f','now'),
        strftime('%Y-%m-%dT%H:%M:%f','now'), strftime('%Y-%m-%dT%H:%M:%f','now'), strftime('%Y-%m-%dT%H:%M:%f','now'))
    </insert>

    <update id="update">
        update campaign
        set `name` = #{campaign.name},
        `status` = #{campaign.status},
        `cleaner` = #{campaign.cleaner},
        `cleaned` = #{campaign.cleaned},
        `expires` = #{campaign.expires},
        `created` = #{campaign.created},
        `updated` = strftime('%Y-%m-%dT%H:%M:%f','now')
        where `id` = #{campaign.id}
    </update>

    <delete id="delete">
        delete
        from campaign
        where `id` = #{id}
    </delete>

    <select id="history" resultType="CampaignHistory">
        select `id`, `campaign_id`, `name`, `status`, `cleaner`, `cleaned`, `expires`, `created`, `updated`
        from campaign_history
        where `campaign_id` = #{id}
        order by `updated` desc
    </select>


</mapper>
