<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fodala.mapper.IndividualMapper">

    <resultMap id="IndividualResult" type="Individual">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="ssn" column="ssn"/>
        <result property="dateOfBirth" column="date_of_birth"/>
        <result property="phone" column="phone"/>
    </resultMap>


    <select id="all" resultMap="IndividualResult">
        select `id`, `name`, `ssn`, `date_of_birth`, `phone`
        from individual
    </select>

    <insert id="insert">
        insert into individual(`id`, `name`, `ssn`, `date_of_birth`, `phone`)
        values (null, #{individual.name}, #{individual.ssn}, #{individual.dateOfBirth}, #{individual.phone})
    </insert>

    <update id="update">
        update individual
        set `name` = #{individual.name},
        `ssn` = #{individual.ssn},
        `date_of_birth` = #{individual.dateOfBirth},
        `phone` = #{individual.phone}
        where `id` = #{individual.id}
    </update>

    <delete id="delete">
        delete
        from individual
        where `id` = #{id}
    </delete>

    <select id="findById" resultType="Individual" resultMap="IndividualResult">
        select `id`, `name`, `ssn`, `date_of_birth`, `phone`
        from individual
        where `id` = #{id}
    </select>

    <select id="selectForScope" resultType="Individual" resultMap="IndividualResult">
        select `id`, `name`, `ssn`, `date_of_birth`, `phone`
        from individual
        where `id` between #{min} and #{max}
    </select>

</mapper>
